header h1 {
    color: red;
}

nav a {
    color: blueviolet;
    text-decoration: none;
}

#extended-shop-description {
    border: 1px dotted black;
    padding: 13px;
    margin-bottom: 15px;
    background-image: url('images/background.webp')
}

#extended-shop-description-image {
    border-radius: 25px;
}

#asus-laptop,
#acer-laptop,
#hp-laptop {
    border: 1px blue solid;
    border-radius: 25px;
    text-align: center;
    width: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    margin: 25px;
    background-image:url('images/laptop-bg.jpg');
    background-size: contain;
}

#asus-laptop img,
#acer-laptop img,
#hp-laptop img {
    border: 1px solid black;
    border-radius: 50%;
    padding:15px;
    width: 150px;
    height: 150px;
}

#asus-laptop details,
#acer-laptop details,
#hp-laptop details {
    text-align: left;
    margin-top: 25px;
}

#contactUs {
    border: 1px solid black;
    margin-top: 50px;
    padding: 25px 25px;
    padding-left: 250px;
}

#contactUs h2 {
    text-decoration: underline blueviolet;
}

#workingHours,
#contacts {
    text-align: center;
}

.laptop-title:hover {
    font-size: 20px;
    cursor: pointer;
}
* {
    font-family: 'Oswald', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}